*{
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

 /*style for responsive nav*/

.nav{
    background-color: rgb(58, 58, 58);
    color: white;
    height: 70px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
  }
  
  .nav-title{
    width: 30%;
    background: #bd0202;
    padding: 16px 40px;
    text-align: center;
  }
  
  .nav-title h1 {
    background-color: #bd0202;
  }
  
  .nav-menu{
    width: 70%;
  }
  
  .nav-menu ul{
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: flex-end;
  
  }
  
  .nav-menu ul li{
    background-color: rgb(58, 58, 58);
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
  
  }
  
  .nav-menu ul a {
    background-color: rgb(58, 58, 58);
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav-menu ul li:hover{
    color: #bd0202;
    font-weight: bold;
  }
  

  
 @media screen and (max-width:1000px){
    .nav{
      height: auto;
    }
    .nav .nav-title{
      text-align: left;
      width: 100%;
    }
 
    .nav .nav-menu{
      width: 100%;
    }
    .nav .nav-menu ul{
      justify-content: space-around;
    }
 
    .nav .nav-menu ul li{
      width: 20%;
      padding: 10px 0px;
      text-align: center;
      font-size: 16px;
    }
  }

  /* a partir daqui form */
  .container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 100px; 
    background-color: #030303; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

form {
    margin: 0; 
    padding: 0; 
}

h2 {
    font-size: 24px; 
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 20px; 
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block; 
    font-size: 18px; 
    color: #ffffff; 
    margin-bottom: 10px; 
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px); 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    color: white;
}

textarea {
    height: 120px; 
}

input[type="checkbox"] {
    margin-right: 10px; 
    vertical-align: middle; 
}

button {
    background-color: #bd0202;
    border: none;
    color: white;
    width: 100%;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
  }
  
  button:hover {opacity: 0.6}

 /*style for responsive form*/
@media screen and (max-width: 600px) {
    .container {
        padding: 30px; 
        margin-top: 50px;
    }
}